<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>User Login</title>
	
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
	
</head>

<body onload="sessionStorage.clear()">

	<div class="container">

		<h2>Login</h2>
	
		<hr>
		
		<a th:href="@{/}" class="btn btn-info col-2">Zurück zur Startseite</a>
		
		<a th:text="${errorMessageLogin}" class="text text-danger" ></a>
		
		<a th:if="${param.error}" class="btn alert-danger col-3" style="text-align: center">Ungültige Login Daten.</a>
		<a th:if="${param.logout}" class="btn alert-success col-3" style="text-align: center">Logout erfolgreich.</a>
		<a th:if="${registrationSuccessfull.length() != 0}" th:text="${registrationSuccessfull}" class="btn alert-success col-3" style="text-align: center"></a>
	
		<hr>
		
		<a th:href="@{/user/showRegisterPage}" class="btn btn-info mb-4 col-2">Zur Registrierung</a>
		
		<form th:action="@{/user/login}" method="POST">

			<label>Benutzername:</label>
			<input type="text" name="username" placeholder="Benutzername" class="form-control mb-4 col-5" required="required" autofocus="autofocus" />
			
			<label>Passwort:</label>
			<input type="password" name="password" placeholder="Passwort" class="form-control mb-4 col-5" required="required" />
			
			<button type="submit" class="btn btn-info col-2">Anmelden</button>
		
		</form>
	
	</div>

</body>

</html>