<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Startseite</title>
	
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	
</head>

<body>

	<div class="container">

		<h2>Startseite</h2>
	
		<hr>
		
		<a th:href="@{/user/showLoginPage}" class="btn btn-info col-2">Zum Login</a>
		
	
		<hr>
	
		Dies hier soll eine Übung zum Thema Spring Boot und Hibernate sein.
	
	</div>

</body>

</html>